alignments
data
mpileup
reads
refs
scripts/vcfEffOnePerLine.pl
vcf
seqsit_stats_output.txt
snpEff_genes.txt
snpEff_summary.html
snpEff.config
.DS_Store
multiqc*
project_tree.txt
VarScan_results_annotated.tsv
VarScan_results_annotated_main.tsv
VarScan_results_annotated_main.md